@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Variable.ttf") format("truetype-variations");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Variable.ttf") format("truetype-variations");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ink Free";
  src: url("../fonts/Inkfree.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.font-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.font-ink {
  font-family: "ink Free";
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  scrollbar-width: thin;
}
